extends layout

block head_block
  link(rel='stylesheet', href='/stylesheets/index.css')

block body_block
  div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
      div.container
        a(class='brand', href='#') Project name
        div.nav-collapse.collapse
          ul.nav
            li.active: a(href='#') Home
            li: a(href='#') About
            li: a(href='/login') Login
  div.container
    h1= title
    p Welcome to #{title}
      | de fapt a doua linie
    p Aceasta este al doilea

    .well
      p Follow the progress
      .progress
         div(style='width: 60%;').bar#video-progress

    .alert
      button(type='button', data-dismiss='alert').close &times
      strong Warning!
      |  Are you OK?

    .hero-unit
      h1 Heading
      p Tagline
      p
        a.btn Learn more

    .btn-group
      button.btn Action
      button.btn.dropdown-toggle(data-toggle='dropdown')
        span.caret
      ul.dropdown-menu
        li: a(href='#myModal', data-toggle='modal') Popup window
        li: a(href='/login') Login
    
    h2
      p You've got 
        span.badge.badge-important 6
        |  important messsages.

    // button to launch my modal
    a(href='#myModal', role='button', class='btn', data-toggle='modal') Launch demo modal

    // the modal itself
    div#myModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') x
        h3#myModalLabel Modal header
      .modal-body
        p This is the body
      .modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Close

    .bs-docs-grid
      .row.show-grid
        .span4.show-grid(data-original-title, title) 1
        .span4.show-grid(data-original-title, title) 1
        .span4.show-grid(data-original-title, title) 1

  script(src='/javascripts/index.js')
