doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head_block
  body
    block body_block
    // include the bootstrap scripts
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.js')