extends layout

block head_block
  link(rel='stylesheet', href='/stylesheets/login.css')

block body_block
  .container
    form.form-signin
      h2.form-signin-heading Please sign in
      input(type='text', placeholder='Email address').input-block-level
      input(type='password', placeholder='Password').input-block-level
      button('type'=submit).btn.btn-large.btn-primary Sign in