@import url("style.css");

body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  padding-bottom: 400px;
}


.show-grid [class*="span"] {
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-height: 40px;
  line-height: 40px;
}

.show-grid [class*="span"]:hover {
  background-color: #ddd;
}